/* Title: AllWrite
Purpose: To code one screen of the AllWrite Prototype for ENGL 5050:
User Experience and Architecture.

Note: This will include more comments than most code becuase I want
to look back at this text later to learn further coding.
*/
 
svg {
    color:#d8d8d8;
    overflow:visible
}

h1 { 
    font-size: 2em;
    font-family:Bangla MN, Geneva, Verdana, sans-serif;
} 

/*The period says that "site-header" is a class. The class refers
more to the location of the text than the type of text it is.*/
.site-header {
    /*The background-color indicates what will be behind the text.
    It is measured in hex.*/
    z-index:1000;
    padding-left:2.7dvw;
    padding-right:2.7dvw;
    height:12dvh;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#371952;
    /*The width indicates how much of the width of the screen will
    be the background color.*/
    /*Overflow describes what happens to the text that goes beyond
    the container. Auto allows scrolling, but only shows scroll
    bars when necessary.*/
    overflow:hidden;
    color:#d8d8d8;
        } 

.siteheader svg{
    width:1dvh;
    height:1dvh;
    max-width:1dvh;
}
        
/*This is to make a div for the body content*/
.body {
    position:fixed;
    top:13dvh;
    width:100%;
    height:74dvh;
    overflow:scroll;    
}

/*This is the formatting for the resource articles*/
.resource-box {
    margin:1em;
    height:5em;
    background-color: #f4f4f4;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
}


/*This is the formatting for the text included on the homepage.*/
/*Titles of resources only*/
resource-title {
position:relative;
margin:3%;
padding-top:30%;
font-size:1.7em;
font-family:Avenir, Calibri, sans-serif;
overflow:hidden;
color:#677DB7;
     
.site-title { 
/*Float means that the element should tend toward that side of
the container.*/
    
 /*Padding is how much padding there is for each side of an element,
    and the default is to use all sides. You can use -top, -right, 
    -bottom, and -left to fix that.*/

    }

svg {
    color:#d8d8d8;
    overflow:visible
}

.search {
    
}

h2 { 
font-size:xx-large;
}

/*When a person is in the title of an article, use this selector.*/
person-title {
font-size:1.5em;
font-family:Avenir, Calibri, sans-serif;
overflow:hidden;
color: #677DB7;
}

/*This text goes after the person's name in comment articles*/
comment-story {
font-size: 1em;
font-weight:lighter;
font-family:Avenir, Calibri, sans-serif;
overflow:hidden;
color: #677DB7;
}

/*This is the default text to act as additional info.*/
sub-text{
font-size:1em;
font-weight:lighter;
font-family:Avenir, Calibri, sans-serif;
overflow:hidden;
color:#79839E
}

/*This is link text. It just underlines it.*/
#link {
text-decoration-line:underline;
}


/*This is the type of box for the resources*/
.resource-box {

}







/*This governs the text in the footer.*/
footer { 
    font-size:.9em;
    font-family:Avenir, Calibri, sans-serif;
    color:#d8d8d8;
    }

/*The footer is the entire bottom box*/
.site-footer {
    position:fixed;
    top:88dvh;
    left:0dvw;
    background-color:#371952;
    width:100dvw;
    height:12dvh;
    overflow: hidden;
    color:#d8d8d8;
        } 

/*The bottom is the SVG section at the bottom.*/      
.bottom {
position:relative;
height:8dvh;
width:90dvw;
padding-left:5dvw;
padding-right:5dvw;
padding-bottom:3dvh;
padding-top:2dvh;
display:flex;
justify-content:space-between;
}

/*The footer-buttons section is to put the text centered below
each image.*/
.footer-buttons {
text-align:center;
}




