/* Title: AllWrite
Purpose: To code one screen of the AllWrite Prototype for ENGL 5050:
User Experience and Architecture.

Note: This will include more comments than most code becuase I want
to look back at this text later to learn further coding.
*/
 
h1 { 
    font-size: 4.2dvh;
    font-family:Bangla MN, Geneva, Verdana, sans-serif;
    
} 

/*The period says that "site-header" is a class. The class refers
more to the location of the text than the type of text it is.*/
.site-header {
    /*The background-color indicates what will be behind the text.
    It is measured in hex.*/
    display: flex; /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    justify-content: space-between;
    align-items: center;
    background-color:#371952;
    /*The width indicates how much of the width of the screen will
    be the background color.*/
    /*Overflow describes what happens to the text that goes beyond
    the container. Auto allows scrolling, but only shows scroll
    bars when necessary.*/
    color:#d8d8d8;
    padding: 0 2rem;
        } 
     
.site-title { 
/*Float means that the element should tend toward that side of
the container.*/
    
 /*Padding is how much padding there is for each side of an element,
    and the default is to use all sides. You can use -top, -right, 
    -bottom, and -left to fix that.*/

    }

svg {
    color:#d8d8d8;
    overflow:visible
}

.search {
    
}

h2 { 
font-size:xx-large;
}

/* Body is the selector. This means we are pointing to body text,
which is a type of text. We would point to this in the HTML file, 
and the code will match this. */
body {
    margin:0;
    padding:0;
    font-family:sans-serif; 
    font-size:16px;
    background-color:#f2ffee;
}

.bottom {
height:8dvh;
border:1px; 
border-color:white;
}

.site-footer {
position:fixed;
width: 100%;
bottom:0;
left:0dvw;
background-color:#371952;
color:#d8d8d8;
    } 

.bottom {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}